[Unit]
Description=Work Together Visually
Documentation=https://spacedeck.com/
After=network.target

[Service]
Environment=NODE_PORT=9666
Type=forking
User=spacedeck
WorkingDirectory=/home/spacedeck/spacedeck-open
ExecStart=/usr/bin/node /home/spacedeck/spacdeck-open/spacedeck.js
Restart=always

[Install]
WantedBy=multi-user.target
